/* .search-bar{
    font-size: 20px;
    border-width: 1px;
    border-radius: 2px;
    border-top-color: rgb(204, 204, 204);
    border-color: rgb(204, 204, 204);
    display: block;
    margin-bottom: 5px;
} */
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section{
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo{
    height: 20px;
}

.middle-section{
    flex: 1;
    display: flex;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center;
}
.search-bar{
    flex: 1;
    height: 36px;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(177, 177, 177);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);

}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
    padding-left: 10px;
}
.search-button{
    height: 40px;
    width: 66px;
    border-style: solid;
    border-color: rgb(177,177,177);
    border-width: 1px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    background-color: rgb(243, 243, 243);
    margin-left: -1px;
    margin-right: 8px;

}
.search-icon{
    height: 25px;
    margin-top: 4px;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color:rgb(247, 247, 247);
}
.voice-search-icon{
    height: 24px;
    margin-top: 4px;
    
}

.right-section{
    background-color: lightblue;
    width: 200px;
}